@model ClickExpress.Models.Pedido

@{
    ViewData["Title"] = "Nova solicitação";
}

<div class="row" style="width: 100%">
    <div class="col-md">
        <div style="padding: 0px 25px 0px 25px">
            <div class="text-white">
                <form asp-action="Create" id="form_pedido">
                    <h3 style="padding: 10px 0px 10px 0px; color: white"> Vamos começar? </h3>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <div style=" display: inline-block; width: 99%; background-color: #D90429; color: white; padding: 8px 5px 8px 10px; border-radius: 8px; font-weight: bold; margin-bottom: 20px">
                            <img src="~/Imagens/charge-box.png" style="height: 30px; margin-right: 10px" /> Escolha o tipo de serviço:
                        </div>
                        <label asp-for="Tipo" class="control-label" style="padding: 15px 0px 0px 0px; color: white; font-weight: bold;">* Tipo de serviço desejado:</label>
                        <select asp-for="Tipo" class="form-control" style="width: 40%;" asp-items="Html.GetEnumSelectList<TipoServico>()"></select>
                        <span asp-validation-for="Tipo" class="text-danger"></span>
                    </div>
                    <br />
                    <div style=" display: inline-block; width: 99%; background-color: #D90429; color: white; padding: 8px 5px 8px 10px; border-radius: 8px; font-weight: bold; margin-bottom: 20px">
                        <img src="~/Imagens/location.png" style="height: 30px; margin-right: 10px" /> Informe os endereços:
                    </div>
                    <div class="form-group" style="padding-top: 15px;">
                        <h6><span style="color: white; font-weight: bold;">Partida</span></h6>
                        <div class="row">
                            <div class="col-sm-2">
                                <label style="color: white" asp-for="Cep_origem" class="control-label">*CEP:</label>
                                <input style="width: 100%;" asp-for="Cep_origem" placeholder="Digite o CEP de partida" class="form-control" id="cep_origem" required/>
                            </div>
                            <div class="col-sm-6">
                                <label style="color: white" asp-for="Logradouro_origem" class="control-label"></label>
                                <input style="width: 100%;" asp-for="Logradouro_origem" class="form-control" id="logradouro_origem" />
                            </div>
                            <div class="col-sm-4">
                                <label style="color: white" asp-for="Complemento_origem" class="control-label">*Número:</label>
                                <input style="width: 100%;" asp-for="Complemento_origem" placeholder="Digite o número do endereço" class="form-control" id="complemento_origem" required/>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <label style="color: white" asp-for="Bairro_origem" class="control-label"></label>
                                <input style="width: 100%;" asp-for="Bairro_origem" class="form-control" id="bairro_origem" />
                            </div>
                            <div class="col-sm-4">
                                <label style="color: white" asp-for="Cidade_origem" class="control-label"></label>
                                <input style="width: 100%;" asp-for="Cidade_origem" class="form-control" id="localidade_origem" />
                            </div>
                            <div class="col-sm-1">
                                <label style="color: white" asp-for="UF_origem" class="control-label"></label>
                                <input style="width: 100%;" asp-for="UF_origem" class="form-control" id="uf_origem" />
                            </div>
                        </div>

                        <span asp-validation-for="Cep_origem" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <h6><span style="color: white; font-weight: bold;">Destino</span></h6>
                        <div class="row">
                            <div class="col-sm-2">
                                <label style="color: white" asp-for="Cep_destino" class="control-label">*CEP:</label>
                                <input style="width: 100%;" asp-for="Cep_destino" placeholder="Digite o CEP de destino" class="form-control" id="cep_destino" required/>
                            </div>
                            <div class="col-sm-6">
                                <label style="color: white" asp-for="Logradouro_destino" class="control-label"></label>
                                <input style="width: 100%;" asp-for="Logradouro_destino" class="form-control" id="logradouro_destino" />
                            </div>
                            <div class="col-sm-4">
                                <label style="color: white" asp-for="Complemento_destino" class="control-label">*Número:</label>
                                <input style="width: 100%;" asp-for="Complemento_destino" placeholder="Digite o número do endereço" class="form-control" id="complemento_destino" required/>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <label style="color: white" asp-for="Bairro_destino" class="control-label"></label>
                                <input style="width: 100%;" asp-for="Bairro_destino" class="form-control" id="bairro_destino" />
                            </div>
                            <div class="col-sm-4">
                                <label style="color: white" asp-for="Cidade_destino" class="control-label"></label>
                                <input style="width: 100%;" asp-for="Cidade_destino" class="form-control" id="localidade_destino" />
                            </div>
                            <div class="col-sm-1">
                                <label style="color: white" asp-for="UF_destino " class="control-label"></label>
                                <input style="width: 100%;" asp-for="UF_destino" class="form-control" id="uf_destino" />
                            </div>
                        </div>
                        <span asp-validation-for="Cep_destino" class="text-danger"></span>
                    </div>

                    <br />
                    <div class="form-group">
                        <div style=" display: inline-block; width: 99%; background-color: #D90429; color: white; padding: 8px 5px 8px 10px; border-radius: 8px; font-weight: bold; margin-bottom: 20px">
                            <img src="~/Imagens/clock.png" style="height: 30px; margin-right: 10px" /> Defina dia e horário:
                        </div>
                        <label style="color: white; padding-top: 15px; font-weight: bold" asp-for="Dt_agendamento" class="control-label">*Data e horário do agendamento:</label>
                        <input style="width: 40%;" asp-for="Dt_agendamento" class="form-control" id="data_agendamento" />
                        <span asp-validation-for="Dt_agendamento" class="text-danger"></span>
                    </div>
                    <br />
                    <div style=" display: inline-block; width: 99%; background-color: #D90429; color: white; padding: 8px 5px 8px 10px; border-radius: 8px; font-weight: bold; margin-bottom: 20px">
                        <img src="~/Imagens/open-box-light.png" style="height: 30px; margin-right: 10px" /> Precisa de serviços adicionais?
                    </div>
                    <br />
                    <div class="form-check">
                        <div class="row">
                            <div class="col-auto" style="padding-bottom: 20px;"> <label style="color: white;" asp-for="Serv_descarrega" class="form-check-label">Serviço de descarga</label></div>
                            <div class="col-1" style="padding-bottom: 20px;"><input asp-for="Serv_descarrega" type="checkbox" class="form-check-input" id="serv_descarrega" style="height: 30px; width: 30px;" /></div>
                            <div class="col-sm-1" style="padding-bottom: 20px;"></div>
                            <div class="col-auto" style="padding-bottom: 20px;"> <label style="color: white;" asp-for="Serv_montagem" class="form-check-label">Serviço montagem</label></div>
                            <div class="col-1" style="padding-bottom: 20px;"><input asp-for="Serv_montagem" type="checkbox" class="form-check-input" id="serv_montagem" style="height: 30px; width: 30px;" /></div>
                        </div>
                        <span asp-validation-for="Serv_descarrega" class="text-danger"></span>
                        <span asp-validation-for="Serv_montagem" class="text-danger"></span>
                    </div>
                    <br />
                    <br />
                    <div class="row">
                        <div class="col-sm-auto">
                            <div class="form-group">
                                <a href="#" onclick="SolicitarServico();" class="btn btn-primary" style="color: black; font-weight: bold; background-color: #84dcc6; border: none">Continuar pedido</a>
                            </div>
                        </div>

                        <div class="col-sm-auto">
                            <div class="form-group">
                                <a class="btn btn-warning" asp-controller="Home" asp-action="Index" style="background-color: #EDF2F4; color: #EF233C; font-weight: bold; border: none">Voltar</a>
                            </div>
                        </div>
                    </div>
                    <br />

                </form>
                <div id="divItens">
                    @*  *@
                </div>

            </div>
        </div>
    </div>
</div>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
