@model ClickExpress.Models.Pedido

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Solicitação</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id_contrato" class="control-label"></label>
                <input asp-for="Id_contrato" class="form-control" />
                <span asp-validation-for="Id_contrato" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dt_contrato" class="control-label"></label>
                <input asp-for="Dt_contrato" class="form-control" />
                <span asp-validation-for="Dt_contrato" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tipo" class="control-label"></label>
                <select asp-for="Tipo" class="form-control" asp-items="Html.GetEnumSelectList<TipoServico>()"></select>
                <span asp-validation-for="Tipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="End_Destino" class="control-label"></label>
                <input asp-for="End_Destino" class="form-control" />
                <span asp-validation-for="End_Destino" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="End_Partida" class="control-label"></label>
                <input asp-for="End_Partida" class="form-control" />
                <span asp-validation-for="End_Partida" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Horario" class="control-label"></label>
                <select asp-for="Horario" class="form-control" asp-items="Html.GetEnumSelectList<Horario>()"></select>
                <span asp-validation-for="Horario" class="text-danger"></span>
            </div>

            <!--
            <div class="form-group">
                <label asp-for="Preco" class="control-label"></label>
                <input asp-for="Preco" class="form-control" />
                <span asp-validation-for="Preco" class="text-danger"></span>
            </div>-->
            <div class="form-group">
                <label asp-for="Usuario_Id" class="control-label"></label>
                <select asp-for="Usuario_Id" class="form-control" asp-items="ViewBag.Usuario_Id"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
