@model ClickExpress.Models.Pedido

@{
    ViewData["Title"] = "Nova solicitação";
}

<div class="row">
    <div class="col-md">
        <div style="padding: 0px 25px 0px 25px">            
            <div class="text-white">
                <form asp-action="Create" id="form_pedido">
                    <h3 style="padding: 10px 0px 10px 0px; color: white"> Vamos começar? </h3>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <img src="~/Imagens/charge-box.png" height="50px" /> <div style=" display: inline-block; width: 95%; background-color: #D90429; color: white; padding: 8px 5px 8px 10px; border-radius: 8px; font-weight:bold;">
                            Escolha o tipo de serviço:
                        </div>
                        <label asp-for="Tipo" class="control-label" style="padding: 15px 0px 0px 0px; color: white; font-weight: bold;"></label>
                        <select asp-for="Tipo" class="form-control" style="width: 40%;" asp-items="Html.GetEnumSelectList<TipoServico>()"></select>
                        <span asp-validation-for="Tipo" class="text-danger"></span>
                    </div>
                    <br />
                    <img src="~/Imagens/location.png" height="50px" />
                    <div style=" display: inline-block; width: 95%; background-color: #D90429; color: white; padding: 8px 5px 8px 10px; border-radius: 8px; font-weight:bold;">
                        Informe os endereços:
                    </div>

                    <div class="form-group" style="padding-top: 15px;">
                        <h6><span style="color: white; font-weight: bold;">Partida:</span></h6>
                        <div class="row">
                            <div class="col-sm-2">
                                <label style="color: white" asp-for="Cep_origem" class="control-label"></label>
                                <input style="width: 100%;" asp-for="Cep_origem" class="form-control" id="cep_origem" />
                            </div>
                            <div class="col-sm-6">
                                <label style="color: white" asp-for="Logradouro_origem" class="control-label"></label>
                                <input style="width: 100%;" asp-for="Logradouro_origem" class="form-control" id="logradouro_origem" />
                            </div>
                            <div class="col-sm-4">
                                <label style="color: white" asp-for="Complemento_origem" class="control-label"></label>
                                <input style="width: 100%;" asp-for="Complemento_origem" class="form-control" id="complemento_origem" />
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <label style="color: white" asp-for="Bairro_origem" class="control-label"></label>
                                <input style="width: 100%;" asp-for="Bairro_origem" class="form-control" id="bairro_origem" />
                            </div>
                            <div class="col-sm-4">
                                <label style="color: white" asp-for="Cidade_origem" class="control-label"></label>
                                <input style="width: 100%;" asp-for="Cidade_origem" class="form-control" id="localidade_origem" />
                            </div>
                            <div class="col-sm-1">
                                <label style="color: white" asp-for="UF_origem" class="control-label"></label>
                                <input style="width: 100%;" asp-for="UF_origem" class="form-control" id="uf_origem" />
                            </div>
                        </div>

                        <span asp-validation-for="Cep_origem" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <h6><span style="color: white; font-weight: bold;">Destino:</span></h6>
                        <div class="row">
                            <div class="col-sm-2">
                                <label style="color: white" asp-for="Cep_destino" class="control-label"></label>
                                <input style="width: 100%;" asp-for="Cep_destino" class="form-control" id="cep_destino" />
                            </div>
                            <div class="col-sm-6">
                                <label style="color: white" asp-for="Logradouro_destino" class="control-label"></label>
                                <input style="width: 100%;" asp-for="Logradouro_destino" class="form-control" id="logradouro_destino" />
                            </div>
                            <div class="col-sm-4">
                                <label style="color: white" asp-for="Complemento_destino" class="control-label"></label>
                                <input style="width: 100%;" asp-for="Complemento_destino" class="form-control" id="complemento_destino" />
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <label style="color: white" asp-for="Bairro_destino" class="control-label"></label>
                                <input style="width: 100%;" asp-for="Bairro_destino" class="form-control" id="bairro_destino" />
                            </div>
                            <div class="col-sm-4">
                                <label style="color: white" asp-for="Cidade_destino" class="control-label"></label>
                                <input style="width: 100%;" asp-for="Cidade_destino" class="form-control" id="localidade_destino" />
                            </div>
                            <div class="col-sm-1">
                                <label style="color: white" asp-for="UF_destino " class="control-label"></label>
                                <input style="width: 100%;" asp-for="UF_destino" class="form-control" id="uf_destino" />
                            </div>
                        </div>
                        <span asp-validation-for="Cep_destino" class="text-danger"></span>
                    </div>

                    <br />
                    <div class="form-group">
                        <img src="~/Imagens/clock.png" height="50px" />
                        <div style=" display: inline-block; width: 95%; background-color: #D90429; color: white; padding: 8px 5px 8px 10px; border-radius: 8px; font-weight:bold;">
                            Defina dia e horário:
                        </div>
                        <label style="color: white; padding-top: 15px; font-weight: bold" asp-for="Dt_agendamento" class="control-label"></label>
                        <input style="width: 40%;" asp-for="Dt_agendamento" class="form-control" id="data_agendamento" />
                        <span asp-validation-for="Dt_agendamento" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-auto"> <label style="color: white;" asp-for="Serv_descarrega" class="control-label"></label></div>
                            <div class="col-sm-1"><input asp-for="Serv_descarrega" class="form-control" id="serv_descarrega" /></div>
                            <div class="col-sm-1"></div>
                            <div class="col-sm-auto"><label style="color: white;" asp-for="Serv_montagem" class="control-label"></label></div>
                            <div class="col-sm-1"><input asp-for="Serv_montagem" class="form-control" id="serv_montagem" /></div>
                        </div>
                        <span asp-validation-for="Serv_descarrega" class="text-danger"></span>
                        <span asp-validation-for="Serv_montagem" class="text-danger"></span>
                    </div>


                    <div class="row">
                        <div class="col-sm-auto">
                            <div class="form-group">
                                <a href="#" onclick="SolicitarServico();" class="btn btn-primary">Continuar pedido</a>
                            </div>
                        </div>

                        <div class="col-sm-auto">
                            <div class="form-group">
                                <a class="btn btn-warning" asp-controller="Home" asp-action="Index">Voltar</a>
                            </div>
                        </div>
                    </div>
                    <br />

                </form>
                <div id="divItens">
                    @*  *@
                </div>
                
            </div>
        </div>
    </div>   
</div>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
