@model ClickExpress.Models.Pedido

@{ ViewData["Title"] = "Finalizar"; }

<br />
<br />
<div style="width: 40%; margin-left: auto; margin-right: auto;">
    <center><span style="color: white; font-size: 25px; padding-bottom: 20px;">Pedido finalizado!</span></center>
</div>
<br />
<div style="width: 25%; margin-left: auto; margin-right: auto;">
    <center><img style="color: white; font-size: 25px; padding-bottom: 20px;" class="responsive" src="~/Imagens/smile.png" /></center>
</div>
<div style="width: 40%; margin-left: auto; margin-right: auto;">
    <center><span style="color: white; font-size: 25px; padding-bottom: 20px;">Obrigado por utilizar os nossos serviços!</span></center>
</div>
<br />
<br />
<br />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}