<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ClickExpress</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light" style="background-color: #EDF2F4">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img width="200px" src="~/Imagens/Logo.png" /></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Quem Somos</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        @if (User.Identity.IsAuthenticated)
                        {
<<<<<<< Updated upstream
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Pedidos" asp-action="Create">Solicitar Serviço</a>
                            </li>
=======
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Pedidos" asp-action="Create">Solicitar Serviço</a>
            </li>
>>>>>>> Stashed changes
                            <li class="nav-item">
                                <!--Item adicionado-->
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Histórico</a>
                            </li>
<<<<<<< Updated upstream
                            <li class="nav-item">
                                <!--Item adicionado-->
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Minha Área</a>
                            </li>
                            <li class="nav-item">
                                Olá, @User.Identity.Name <a class="nav-link text-dark" asp-area="" asp-controller="Usuarios" asp-action="Logout">Sair</a>
                            </li>
 }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Usuarios" asp-action="Login">Login</a>
                            </li>
                            <li class="nav-item">
                                <!--Item adicionado-->
                                <a class="nav-link text-dark" asp-area="" asp-controller="Usuarios" asp-action="Create">Cadastrar</a>
                            </li>
=======
                                            <li class="nav-item">
                                                <!--Item adicionado-->
                                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Minha Área</a>
                                            </li>
                                                            <li class="nav-item">
                                                                Olá, @User.Identity.Name <a class="nav-link text-dark" asp-area="" asp-controller="Usuarios" asp-action="Logout">Sair</a>
                                                            </li>
 }
                                                        else
                                                        {
                                            <li class="nav-item">
                                                <a class="nav-link text-dark" asp-area="" asp-controller="Usuarios" asp-action="Login">Login</a>
                                            </li>
                                                            <li class="nav-item">
                                                                <!--Item adicionado-->
                                                                <a class="nav-link text-dark" asp-area="" asp-controller="Usuarios" asp-action="Create">Cadastrar</a>
                                                            </li>
>>>>>>> Stashed changes
}
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main role="main" class="pb-3" style="background-color: #282D42; width: 100%">
        @RenderBody()
    </main>


    <footer class="footer text-muted" style="background-color: #8D99AE">
       
            <div class="row" style="width: 100%;">
                <div class="coluna" style="background-color: #8D99AE">

                    <h6><a href ="#" style="color: white">Saiba mais sobre a Click Express</a></h6>
                    <div style="color: white; font-size: 5; padding: 0px; font-weight: bold; margin-top: 13px"> Telefone </div>
                    <div style="color: white; font-size: 5"> (31) 0000-0000 </div><br />

                 </div>
                <div class="coluna" style="background-color: #8D99AE">
                    <div style="color: white; font-size: 5; padding: 0px; font-weight: bold"> Localização </div>
                    <div style="color: white; font-size: 5; margin-top: 7px"> Rua Um, 2, Horto - Belo Horizonte - MG </div>
                    <div style="color: white; font-size: 5"> Cep: 30000-000 </div><br />

                </div>
                <div class="coluna" style="background-color:#8D99AE; text-align:center">
                    <div style="color: white; font-size: 5; padding: 0px; font-weight: bold; margin-bottom: 7px"> Nos siga nas redes sociais </div>
                    <i class="bi bi-facebook" style="color: #3b5998; font-size: 30px"></i>
                    <i class="bi bi-instagram" style="color: #ff1981; font-size: 30px; padding: 10px"></i>
                    <i class="bi bi-twitter" style="color: #00acee; font-size: 30px"></i>
                </div>
            </div>

    </footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
