
@{
    ViewData["Title"] = "AccessDenied";
}

<div class="text-white">
    <br />
    <center><h1>Acesso Negado</h1></center>
    <br /><br /><br />
    <div style="width: 50%; background-color: #EDF2F4; color: #2B2D42; border-radius: 30px; padding: 20px 30px 20px 30px; margin: 0 auto 0 auto ">Ops! Parece que você não tem acesso a essa página. Verifique se seu usuário está ativo. Caso ainda não tenha um volte e realize o seu cadastro.</div>
    <br />
    <a class="btn btn-info" style="background-color: #EDF2F4; color: #EF233C; font-weight: bold; border: none" asp-controller="Home" asp-action="Index">Voltar</a>
</div>

