@model ClickExpress.Models.Usuario

@{
    ViewData["Title"] = "EdicaoConcluida";
}

<div class="text-white">
    <h3> @ViewBag.Message </h3>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
