@model ClickExpress.Models.Usuario

<div class="container m-0 p-0 mw-100">
    <div class="row m-0 p-0 mw-100 align-items-center">
        <div class="col-4">
            <img class="responsiveboxman" src="~/Imagens/boxman.png" />
        </div>

        <div class="col-8">

            <div class="d-flex flex-column">
                <a asp-action="RelatoriosUser">Lista de pedidos</a>
                <a asp-controller="Pedidos" asp-action="RelatorioUserStatus">Lista de pedidos status pendente</a>

            </div>

        </div>
    </div>
</div>
