@model IEnumerable<ClickExpress.Models.Usuario>

@{
    ViewData["Title"] = "Index";
}

<div class="text-white">
    <h1>Cadastro de usuários</h1>
</div>
<p>
    <a asp-action="Create" asp-controller="Clientes" class="btn btn-primary">Cliente</a>
    <a asp-action="Create" asp-controller="Prestadores" class="btn btn-primary">Prestador </a>
    <a class="btn btn-warning" asp-controller="Home" asp-action="Index">Voltar</a>
</p>
