@model ClickExpress.Models.Usuario


<div class="container m-0 p-0 mw-100">
    <div class="row m-0 p-0 mw-100 align-items-center">
        <div class="col-4">
            <img alt="Homem segurando caixa de papelão" class="responsiveboxman" src="~/Imagens/boxman.png" />
        </div>

        <div class="col-8">
            <center>
               
                <span style="color: white; font-weight: bold; font-size: 30px">Pedidos</span>
                <br /><br /><br />
                <a asp-controller="Pedidos" asp-action="RelatorioUserStatusPendente" class="btn" style="background-color: #D90429; color: white; border: none; font-weight: bold; padding: 30px 0px 30px 0px; width: 120px">Pedidos Disponíveis</a>
                <a asp-controller="Pedidos" asp-action="RelatoriosUserPrestadorAceito" class="btn" style="background-color: #5E931D; color: white; border: none; font-weight: bold; padding: 30px 0px 30px 0px; width: 120px">Meus Pedidos</a>
                </center>
        </div>
    </div>
</div>


