@{
    ViewData["Title"] = "Home Page";
}
<img class="responsiveboxman" src="~/Imagens/boxman.png" />

      <li class="home1"> Rápido </li>
      <li class="home2"> Simples </li>
       <li class="home3"> Seguro </li> 
  
   <h3 class="home4">O Click Express é uma nova forma de contratar serviços
<br />de carreto e mudanças. Com apenas alguns cliques você <br /> consegue encontrar os melhores prestadores
de serviço <br /> próximo a você. É rápido, é simples e seguro. </h3>