@{
    ViewData["Title"] = "Home Page";
}


<div class="container m-0 p-0 mw-100">
    <div class="row m-0 p-0 mw-100 align-items-center">
        <div class="col-4">
            <br />
            <img class="responsiveboxman" src="~/Imagens/boxman.png" />
        </div>

        <div class="col-8">

            <div class="d-flex flex-column">
                <div style="margin-left: 20%; font-size: 3.5vw; color:white">
                    <ul>
                        <li style="margin-left: 0%; padding-bottom: 1.0vw; font-weight: bold;"> Rápido </li>
                        <li style="margin-left: 10%; padding-bottom: 1.0vw; font-weight: bold;"> Simples </li>
                        <li style="margin-left: 20%; padding-bottom: 1.0vw; font-weight: bold;"> Seguro </li>
                    </ul>
                </div>
                <br />
                <div style="margin-left: 20%; font-size: 1.6vw; color: white">
                    <p class="ml-0">
                        O Click Express é uma nova forma de contratar serviços
                        <br />de carreto e mudanças. Com apenas alguns cliques você <br /> consegue encontrar os melhores prestadores
                        de serviço <br /> próximo a você. É rápido, é simples e seguro.
                    </p>
                </div>

            </div>

        </div>
    </div>
</div>
