@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="text-white" style="padding: 15px 25px 15px 25px;">

    <center><h3>Click Express</h3></center>
    <br />
    <div class="row">
        <div class="col-sm">
            <div style="background-color: #5E931D; border-radius: 30px; padding: 15px 25px 15px 25px; text-align: justify">
                <center><h5>Quem Somos?</h5></center>
                <span>A Click Express é uma empresa brasileira que quer tornar mais facil a vida de todos. Isso é o que nos motiva, e fornece a energia que precisamos para nos empenhar em criar soluções que vão facilitar a conexão entre pessoas e soluções. Somos uma plataforma voltada para mobilidade, praticidade e conectividade. Temos como objetivo simplificar e tornar mais prazeroso o processo de mudança e de trasnporte de objetos, e afastar de uma vez por todas o pesadelo do trasporte de objetos e cargas domésticas.</span>
            </div>
        </div>
        <br />
        <div class="col-sm">
            <div style="background-color: #D3AD82; border-radius: 30px; padding: 15px 25px 15px 25px; text-align: justify ">
                <center><h5>O que oferecemos?</h5></center>
                <span>Oferecemos possibilidades, soluções, oportunidades e tecnologia. Nosso produto é voltado para tornar um momento que pode ser desgastante em algo mais facil. O serviço de agendamento de mudanças e carretos oferece aos usuários a facilidade de encontrar a solução que deseja sem muito esforço, bastando apenas alguns clique para tornar uma mudança ou carreto em uma experiencia totalmente nova. Os nossos prestadores também tem a oportinidade de ampliar seus rendimentos e aumentar a sua base de clientes.</span>
            </div>
        </div>
        <br />
    </div>
    <br />
    <div class="row">
        <div class="col-sm">
            <div style="background-color: #84DCC6; border-radius: 30px; padding: 15px 25px 15px 25px; text-align: justify">
                <center><h5>Onde atuamos?</h5></center>
                <span>A Click Express está em todo lugar! Atuamos em todo o território brasileiro. Tudo o que é necessário para é ao menos um prestador conetado a nossa plataforma para que possamos atuar em uma determinada região. Nesse momento todas as nossas viagens devem ter como origem algum ponto do território brasileiro, mas estamos trabalhando cada dia mais, para que em breve possamos atender toda a América Latina.</span>
            </div>
        </div>
        <br />
        <div class="col-sm">
            <div style="background-color: #D90429; border-radius: 30px; padding: 15px 25px 15px 25px; text-align: justify">
                <center><h5>Como funciona?</h5></center>
                <span>É muito simples utilizar os serviços da Click Express. Basta acessar o nosso site e fazer o seu cadastro. Caso você seja um usuário, após o cadastro você poderá solicitar pedidos informando os locais de origem e destino, o horário que deseja que o serviço seja feito, e os itens que serão transportados. Ai é só aguardar um prestador envair um orçamento, e assim que você aprovar o serviço poderá ter início.</span>
            </div>
        </div>
        <br />
    </div>
    <br />
    <hr />
    <br />
    <center><h3>Conheça a equipe por traz desse projeto</h3></center>
    <br />
    <center>
        <div class="cardqs" style="width: 23%; display: inline-block">
            <img src="~/Imagens/thamara.jpeg" style="width:100%; border-radius: 10px 10px 0 0;">
            <div class="cntn" style="background-color: white; color: black; border-radius: 0px 0px 8px 8px;">
                <br /><h4><b>Thamara</b></h4><br />
            </div>
        </div>&nbsp;
        <div class="cardqs" style="width: 23%; display: inline-block">
            <img src="~/Imagens/sabrina.jpeg" style="width:100%; border-radius: 10px 10px 0 0;">
            <div class="cntn" style="background-color: white; color: black; border-radius: 0px 0px 8px 8px;">
                <br /> <h4><b>Sabrina</b></h4><br />
            </div>
        </div>&nbsp;
        <div class="cardqs" style="width: 23%; display: inline-block">
            <img src="~/Imagens/werlon.jpeg" style="width:100%; border-radius: 10px 10px 0 0;">
            <div class="cntn" style="background-color: white; color: black; border-radius: 0px 0px 8px 8px;">
                <br /> <h4><b>Werlon</b></h4><br />
            </div>
        </div>&nbsp;
        <div class="cardqs" style="width: 23%; display: inline-block">
            <img src="~/Imagens/kenia.jpeg" style="width:100%; border-radius: 10px 10px 0 0;">
            <div class="cntn" style="background-color: white; color: black; border-radius: 0px 0px 8px 8px;">
                <br /><h4><b>Kenia</b></h4><br />
            </div>
        </div>
    </center>

    <br />
</div>

