@model ClickExpress.Models.Orcamento

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>
<div class="text-white">
    <h4>Orçamentos</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="Id_contrato" class="control-label"></label>
                    <input asp-for="Id_contrato" class="form-control" readonly/>
                    <span asp-validation-for="Id_contrato" class="text-danger"  ></span>
                </div>

                <div class="form-group">
                    <label asp-for="Preco" class="control-label"></label>
                    <input asp-for="Preco" class="form-control" id="valor_orcamento"/>
                    <span asp-validation-for="Preco" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Enviar" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
