@model IEnumerable<ClickExpress.Models.Item>

@{
    ViewData["Title"] = "ConcluirPedido";
}

<div class="text-white">
    <h3> @ViewBag.Message </h3>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
