@model ClickExpress.Models.Cliente

@{
    ViewData["Title"] = "Create";
}

<div class="row text-white">
    <div class="col-md">
        <div style="padding: 0px 25px 0px 25px">
            <h3 style="color: white; font-weight: bold; padding-top: 8px;">Cadastro de usuário CLIENTE:</h3><br />
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-2">
                            <label asp-for="Cpf_Cnpj" class="control-label"></label>
                            <input asp-for="Cpf_Cnpj" class="form-control" />
                            <span asp-validation-for="Cpf_Cnpj" class="text-danger"></span>
                        </div>
                        <div class="col-sm-6">
                            <label asp-for="Nome" class="control-label"></label>
                            <input asp-for="Nome" class="form-control" />
                            <span asp-validation-for="Nome" class="text-danger"></span>
                        </div>
                        <div class="col-sm-4">
                            <label asp-for="Email" class="control-label"></label>
                            <input asp-for="Email" type="email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-4">
                            <label asp-for="Tel" class="control-label"></label>
                            <input asp-for="Tel" class="form-control" />
                            <span asp-validation-for="Tel" class="text-danger"></span>
                        </div>
                        <div class="col-sm-4">
                            <label asp-for="Senha" class="control-label"></label>
                            <input asp-for="Senha" class="form-control" />
                            <span asp-validation-for="Senha" class="text-danger"></span>
                        </div>
                        <div class="col-sm-4">
                            <label asp-for="Cep" class="control-label"></label>
                            <input asp-for="Cep" class="form-control" id="cep" />
                            <span asp-validation-for="Cep" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6">
                            <label asp-for="Logradouro" class="control-label"></label>
                            <input asp-for="Logradouro" class="form-control" id="logradouro" />
                            <span asp-validation-for="Logradouro" class="text-danger"></span>
                        </div>
                        <div class="col-sm-2">
                            <label asp-for="Num_endereco" class="control-label"></label>
                            <input asp-for="Num_endereco" class="form-control" />
                            <span asp-validation-for="Num_endereco" class="text-danger"></span>
                        </div>
                        <div class="col-sm-4">
                            <label asp-for="Bairro" class="control-label"></label>
                            <input asp-for="Bairro" class="form-control" id="bairro" />
                            <span asp-validation-for="Bairro" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-2">
                            <label asp-for="Cidade" class="control-label"></label>
                            <input asp-for="Cidade" class="form-control" id="localidade" />
                            <span asp-validation-for="Cidade" class="text-danger"></span>
                        </div>
                        <div class="col-sm-2">
                            <label asp-for="UF" class="control-label"></label>
                            <input asp-for="UF" class="form-control" id="uf" />
                            <span asp-validation-for="UF" class="text-danger"></span>
                        </div>
                    </div>
                </div>


                <div class="form-group" style="padding-top: 5px;">
                    <input type="submit" value="Cadastrar" class="btn btn-primary" />
                    <a class="btn btn-warning" asp-controller="Home" asp-action="Index">Voltar</a>
                </div>

            </form>

        </div>
    </div>
</div>

<div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
