@model ClickExpress.Models.Cliente

@{ ViewData["Title"] = "Create"; }

<div class="row text-white" style="width: 100%">
    <div class="col-md">
        <div style="padding: 0px 25px 0px 25px">
            <br />
            <div style=" display: inline-block; width: 99%; background-color: #D90429; color: white; padding: 8px 5px 8px 10px; border-radius: 8px; font-weight: bold; margin-bottom: 20px">
                <img alt="Prancheta e lápis" src="~/Imagens/edit.png" style="height: 30px; margin-right: 10px" /> Preencha as informações abaixo para criar sua conta como cliente
            </div>
            <br />
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-2">
                            <label asp-for="Cpf_Cnpj" class="control-label">*CPF/CNPJ:</label>
                            <input asp-for="Cpf_Cnpj" class="form-control"  placeholder="Digite o CPF/CNPJ" required/>
                            <span asp-validation-for="Cpf_Cnpj" class="text-danger"></span>
                        </div>
                        <div class="col-sm-6">
                            <label asp-for="Nome" class="control-label">*Nome:</label>
                            <input asp-for="Nome" class="form-control" placeholder="Digite o nome" required/>
                            <span asp-validation-for="Nome" class="text-danger"></span>
                        </div>
                        <div class="col-sm-4">
                            <label asp-for="Email" class="control-label">*E-mail:</label>
                            <input asp-for="Email" type="email" class="form-control" placeholder="Digite o e-mail" required/>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-4">
                            <label asp-for="Tel" class="control-label">*Telefone:</label>
                            <input asp-for="Tel" class="form-control" placeholder="Digite o telefone de contato" required/>
                            <span asp-validation-for="Tel" class="text-danger"></span>
                        </div>
                        <div class="col-sm-4">
                            <label asp-for="Senha" class="control-label">*Senha:</label>
                            <input asp-for="Senha" class="form-control" placeholder="Crie uma senha" required/>
                            <span asp-validation-for="Senha" class="text-danger"></span>
                        </div>
                        <div class="col-sm-4">
                            <label asp-for="Cep" class="control-label">*CEP:</label>
                            <input asp-for="Cep" class="form-control" id="cep" placeholder="Digite o CEP" required/>
                            <span asp-validation-for="Cep" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6">
                            <label asp-for="Logradouro" class="control-label"></label>
                            <input asp-for="Logradouro" class="form-control" id="logradouro" />
                            <span asp-validation-for="Logradouro" class="text-danger"></span>
                        </div>
                        <div class="col-sm-2">
                            <label asp-for="Num_endereco" class="control-label">*Número:</label>
                            <input asp-for="Num_endereco" class="form-control"placeholder="Digite o número " required/>
                            <span asp-validation-for="Num_endereco" class="text-danger"></span>
                        </div>
                        <div class="col-sm-4">
                            <label asp-for="Bairro" class="control-label"></label>
                            <input asp-for="Bairro" class="form-control" id="bairro" />
                            <span asp-validation-for="Bairro" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-2">
                            <label asp-for="Cidade" class="control-label"></label>
                            <input asp-for="Cidade" class="form-control" id="localidade" />
                            <span asp-validation-for="Cidade" class="text-danger"></span>
                        </div>
                        <div class="col-sm-2">
                            <label asp-for="UF" class="control-label"></label>
                            <input asp-for="UF" class="form-control" id="uf" />
                            <span asp-validation-for="UF" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div style="padding-bottom: 8px"><b>*Campos obrigatórios</b></div>

                <div class="form-group" style="padding-top: 5px;">
                    <input type="submit" value="Cadastrar" class="btn btn-primary" style="color: black; font-weight: bold; background-color: #84dcc6; border: none" />
                    <a class="btn btn-warning" style="background-color: #EDF2F4; color: #EF233C; font-weight: bold; border: none" asp-controller="Home" asp-action="Index">Voltar</a>
                </div>

            </form>

        </div>
    </div>
</div>

<div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
